.navbar {
  max-width: 1440px;
  height: auto;
  width: auto;
  padding: 26px 80px;
  gap: 0px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}

.navbar--logocontainer {
  display: flex;
  max-height: 36.11px;
  gap: 0px;
}

.navbar--logocontainer img {
  object-fit: contain;
}

.navbar-navcontainer {
  display: flex;
  position: relative;
  height: auto;
  min-width: 381px;
  max-height: 17px;
}

.nav-links {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  display: flex;
  list-style: none;
  gap: 28px;
}

.nav-links a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--accent-color-1);
  border-bottom: 2px solid var(--secondary-color);
}

.hamburger-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar{
    padding: 26px 20px;
  }
  .navbar--navcontainer {
    display: none; 
  }

  .navbar--logocontainer {
    display: flex;
    height: 12 px;
    width: 12px;
    gap: 0px;
    opacity: 1; /* Updated opacity */
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  padding: 20px;
  z-index: 2;
}
/* Hamburger Library CSS */
.bm-menu {
  background: rgba(255, 255, 255, 1);
  padding: 2.5em 1.5em 0;
  row-gap: 32px;
}

.bm-menu-wrap {
  position: relative;
  height: 100%;
}

/* Custom styling for menu items */
.bm-item {
  font-family: "Inter", sans-serif;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: rgba(16, 12, 8, 1);
  transition: color 0.2s;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
  display: block;
}

.bm-item:hover {
  color: var(--text-color-light);
}
.bm-burger-bars {

  background: white;
  width: 41px;
  height: 3px !important;
  gap: 0px;
  border-radius: 5px;


}
.bm-cross-button {
  height: 28px;
  width: 28px;
  top: 30px !important;
  right: 30px !important;
}

.bm-cross {
  background:rgba(16, 12, 8, 1);
}


.bm-burger-bars-hover {

  background: var(--secondary-color);

}

  
}
